body {
  background-color: white;
  color: black;
}
.docs-prev-next {
  visibility: hidden;
}

.docs-aside-tree span {
  color: black;
  font-weight: normal;
}

.docs-aside-tree span:hover {
  color: #1ad6ff;
}

.docs-aside-tree .router-link-active span {
  font-weight: bold;
  color: #1ad6ff;
}
